.nws-modal-wrapper {
  z-index: 2000 !important;
}
html {
  height: 100%;
}
body {
  overflow: auto !important;
}
/* This is getting ridicilous.. */
.nextui-tooltip-content {
  z-index: 10000 !important;
}

.Toastify__toast-container {
  z-index: 10000 !important;
}
